@import "../const";

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .imageContainer {
    text-align: center;
    justify-content: center;
    border-radius: 3px;
    @include mq(tb){
        background-color: $accent-color;
        padding: 30px;
    }
  }
  
  .image {
    max-height: 250px;
    @include mq(tb){
      max-height: 450px;
    }
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
  }
  
  .arrow {
    border: none;
    color: $arrow;
    font-size: 2rem;
    padding: 0.5rem 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
  
    &:hover {
        color: $arrow-hover;
    }
  }

