@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "const";

:root {
  background-color: #eee1c5;
}

body {
  margin: 0 auto;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right,#ffedc5,#fff);
  max-width: 1280px;
  padding: 0 40px;

  header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    img {
      max-height: 80px;
    }
  }

  h2 {
    margin: 30px auto;
    padding: 0 20px;
    font-size: 2.0rem;
    font-family: Arial, Helvetica, sans-serif;
    border-left: solid 10px #af9f7c;
  }

}

html {
  height: 100%;
}